# Environment variables
.env

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Uploads
uploads/
*.jpg
*.jpeg
*.png
*.gif
*.pdf

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
build/
